NETWORK=testnet
KASPAD_URL=127.0.0.1:16210
HARDKAS_DATA_DIR=./.hardkas
HARDKAS_KASPAD_IMAGE=kaspanet/kaspad:latest
LOG_LEVEL=info

# Optional
# DATABASE_URL=postgres://user:pass@localhost:5432/db
# PROMETHEUS_PORT=9090
